node_modules
.next/
.env

.next/types/app/page.ts
.next/types/app/layout.ts
.next/static/css/app/layout.css
.next/static/chunks/webpack.js
.next/static/chunks/polyfills.js
.next/static/chunks/main.js
.next/static/chunks/main-app.js
.next/static/chunks/fallback/webpack.js
.next/static/chunks/fallback/main.js
.next/static/chunks/fallback/amp.js
.next/static/chunks/app/page.js
.next/static/chunks/app/layout.js
.next/static/chunks/app-pages-internals.js
.next/static/chunks/_error.js
.next/server/webpack-runtime.js
.next/server/vendor-chunks/react-transition-group.js
.next/server/vendor-chunks/react-modal-video.js
.next/server/vendor-chunks/react-is.js
.next/server/vendor-chunks/prop-types.js
.next/server/vendor-chunks/object-assign.js
.next/server/vendor-chunks/next.js
.next/server/vendor-chunks/next-themes.js
.next/server/vendor-chunks/dom-helpers.js
.next/server/vendor-chunks/core-js.js
.next/server/vendor-chunks/@swc.js
.next/server/vendor-chunks/@babel.js
.next/server/server-reference-manifest.json
.next/server/server-reference-manifest.js
.next/server/next-font-manifest.json
.next/server/next-font-manifest.js
.next/server/middleware-build-manifest.js
.next/server/app/page_client-reference-manifest.js
.next/server/app/page.js
.next/server/app-paths-manifest.json
.next/cache/webpack/server-development/index.pack.gz.old
.next/cache/webpack/server-development/index.pack.gz
.next/cache/webpack/server-development/8.pack.gz
.next/cache/webpack/server-development/7.pack.gz
.next/cache/webpack/server-development/6.pack.gz
.next/cache/webpack/server-development/5.pack.gz
.next/cache/webpack/server-development/4.pack.gz
.next/cache/webpack/server-development/3.pack.gz
.next/cache/webpack/server-development/2.pack.gz
.next/cache/webpack/server-development/1.pack.gz
.next/cache/webpack/server-development/0.pack.gz
.next/cache/webpack/client-development/index.pack.gz.old
.next/cache/webpack/client-development/index.pack.gz
.next/cache/webpack/client-development/7.pack.gz
.next/cache/webpack/client-development/6.pack.gz
.next/cache/webpack/client-development/5.pack.gz
.next/cache/webpack/client-development/4.pack.gz
.next/cache/webpack/client-development/3.pack.gz
.next/cache/webpack/client-development/2.pack.gz
.next/cache/webpack/client-development/1.pack.gz
.next/cache/webpack/client-development/0.pack.gz
.next/cache/webpack/client-development-fallback/index.pack.gz
.next/cache/webpack/client-development-fallback/0.pack.gz
.next/cache/images/sDBdXvbEDD+FVamZGip6+JcBgh8fjqHQU0QlKOc9gB4=/60.1734385424730.lNuQa0byb45vrHA6xon6rgGTftzf1zsHb1M9Jm9uH7M=.webp
.next/cache/images/Qh2YwQVzask6d4sNeLl8WVMbY9wMW7lYAxkRHkfKULw=/60.1734385486685.UL76627hjTLk52kbqJ5YkMSmBQD5Ns9L3bCk439YhA4=.webp
.next/cache/images/mfa9OskeFcu1oEmIoRDamN3zSLPAskCcmR2GpLFIASw=/60.1734385486673.uDLGPY9ijwZf9JSUrIjYNauvLj2JWDDSCGFxELoTH5w=.webp
.next/cache/images/EA7Dp+8guELfdgF2VsnMGl+DVaShGnGRAVI5-gWiHF4=/60.1734385463097.w+3+ltn5yWjbDUhBOcAEjbrVbZQake7N4KhkC-zLOEY=.webp
.next/cache/images/4wvN-Q7KnlVJbpO0IMVjQ2ifu+rHojwfbprAcIqh7HE=/60.1734385486678.wcCEsrc-UD5d08GZxHibgfiC3ASYfAnA6KQx9CbSeFU=.webp
.next/app-build-manifest.json
